<!DOCTYPE html>
<html lang="en-ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"
          href="/css/font-awesome.min.css"
          th:href="@{/css/font-awesome.min.css}">

    <link rel="stylesheet"
          href="/css/bootstrap.css"
          th:href="@{/css/bootstrap.css}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">

    <link rel="stylesheet"
          href="/css/style.css"
          th:href="@{/css/style.css}">

    <title>Shooters</title>
</head>

<body>

<!--Navigation bar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Shooters List</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Shooters <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Stages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Results</a>
            </li>
        </ul>
    </div>
</nav>

<!--Table-->
<table class="table">
    <thead>
    <tr>
        <th class="text-center" scope="col">Id</th>
        <th class="text-center" scope="col">Name</th>
        <th class="text-center" scope="col">Surname</th>
        <th class="text-center" scope="col">City</th>
        <th class="text-center" scope="col">Country</th>
        <th class="text-center" scope="col">Class</th>
        <th class="text-center" scope="col">Category</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="shooter : ${shooters}">
        <td class="text-center" th:text="${shooter.shooterId}"></td>
        <td class="text-center" th:text="${shooter.name}"></td>
        <td class="text-center" th:text="${shooter.surname}"></td>
        <td class="text-center" th:text="${shooter.city}"></td>
        <td class="text-center" th:text="${shooter.country}"></td>
        <td class="text-center" th:text="${shooter.shooterClass.className
        }"></td>
        <td class="text-center" th:text="${shooter.category.categoryName}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>